@tailwind base;
@tailwind components;
@tailwind utilities;

.wholenav{
  border-style: solid;
  border-color: rgb(255, 254, 222, 0.751);
  background-color: rgba(255, 254, 222, 0.751);
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
.overskrift{
  width: 25%;
  text-align: center;
  border-bottom: 2px solid black;
  border-bottom-width: 2px;
  margin-left: 22.5em;
  
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.SocialLogo{
  width: 100%;
}
.social {
  display: flex;
  justify-content: space-evenly;
  border: 2em;
  border-top-width: 2px;
  border-color: black;
  padding-left: 20rem; /* 80px */
  padding-right: 20rem; /* 80px */
  padding-top: 5rem; /* 16px */
  padding-bottom: 2rem; /* 16px */
}

.wholefooter{
  border-style: solid;
  border-color: rgb(255, 254, 222, 0.751);
  background-color: rgba(255, 254, 222, 0.751);
}

.author {
  text-align: center;
}

